.wrapper {
  display: flex;
  flex-direction: column;
  .select {
    border: 2px solid white;
    margin-top: 4px;
    position: relative;
    padding: 12px 14px;
    border-radius: 4px;
    cursor: pointer;
    color: rgb(39, 39, 39);
    font-size: 14px;
    font-weight: bold;
    &:focus {
      border: 2px solid #eee;
      box-shadow: 0 0 3px white;
      outline: none;
    }
  }
}
