.badge {
  padding: 5px 10px;
  height: 30px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  white-space: nowrap;
  color: rgb(255, 255, 255);
  background-color: rgb(61, 71, 82);
  font-size: 13px;
  line-height: 20px;
  font-weight: 700;
}
