.item {
  background-color: rgb(0, 30, 60);
  color: rgb(255, 255, 255);
  border-radius: 8px;
  border: 2px solid rgb(30, 73, 118);
  margin-bottom: 15px;
  display: flex;
  .picture {
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      padding: 5px;
      width: 200px;
      height: auto;
      max-height: 200px;
      aspect-ratio: auto 1 / 1;
    }
  }
  .info {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 10px;
    .title {
      font-weight: 600;
      font-size: 16px;
      line-height: 1.5;
    }
    .desc {
      font-weight: 500;
      font-size: 12px;
      line-height: 1.66;
      color: rgba(255, 255, 255, 0.7);
    }
    .bottom {
      margin-top: auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
  .price,
  .stock {
    text-align: end;
  }
  .price {
    font-size: 18px;
    .base-price {
      position: relative;
      &.discount {
        &::before {
          content: "";
          top: 50%;
          left: 50%;
          position: absolute;
          width: 40px;
          height: 3px;
          transform-origin: bottom left;
          transform: rotate(-30deg) translate(-50%, -50%);
          background-color: #f9a51b;
        }
      }
    }

    span {
      margin-left: 10px;
      font-size: 16px;
      font-weight: bold;
    }
  }
  .stock {
    margin: 5px 0;
    font-size: 12px;
    font-weight: bold;
    .green {
      color: #1ed760;
    }
    .orange {
      color: #f9a51b;
    }
    .red {
      color: #d81f26;
    }
  }
}
